<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>supercharge - Login Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="heading">
        <img src="{{ url_for('static', filename='supercharge.png') }}" height="300px" width="400px">
    </div>
    <div class="heading">
        Login Failed
    </div>
    <p style="color:dodgerblue">Your Login Attempt resulted in a Failure. It may be because of the following reasons.<br><br>
        - You did not Enter Correct Credentials.<br><br>
        - You do not know the Correct Credentials. If this is the Case. Read the Documentation.<br><br>
        - You are someone else trying to get Access. If this is the Case. Then remember your Activity is being Logged.<br><br>
        <br><br>
    <a href="index.html" class="inputs">Go Back</a>
    </p>
</body>
</html>