<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>supercharge - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='cp.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="barnav">
            <a class="active" href="cp"><img src="{{ url_for('static', filename='supercharge.png') }}" width="90px" height="70px"></a>
            <a  href="bots"><i class="fa fa-fw fa-user"></i> BOTS</a>
            <a href="settings"><i class="fa fa-cogs"></i> Settings</a>
            <a href="about"><i class="fa fa-question"></i> About</a>
      </div>
    <br><br>
    <div class="box"> 
        <h1><i class="fa fa-cogs"></i> Settings</h1>
        <hr/>
    </div>
    <br><br><br>
    <div class="box">
        <h2><i class="fa fa-globe"></i> supercharge Offline</h2>
        <p>
            <strong>Username : </strong> {{ usern }}<br>
            <strong>Password : </strong> {{ passw }}
            <br><br><br>
            Default username and password is godblessu
            <br><br><br>
           
            <a href="passchange" class="inputs">Click here to Change</a><br><br>
        </p>
    </div>
    <br><br><br>
    <div class="box">
        <h2><i class="fa fa-server"></i> supercharge Server </h2>
        <p>
            <strong>Host : </strong> {{ ip }}<br>
            <strong>Port : </strong> {{ port }}<br>
            <br><br><br>
            <a href="server_settings" class="inputs">Click here to Change</a><br><br>
            <hr/> 
        </p>
    </div>
    <br><br><br>

    <div class="box">
        Click the logo or click 
        <a href="cp">here</a> 
        To go back.
    </div>
</body>
</html>